@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #fff;
  font-family: "Manrope", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #141414;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e50000;
  border-radius: 10px;
}
